@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html,
body {
  background-color: var(--chakra-colors-gray-50);
}

.prose .anchor,
.prose-dark .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose a,
.prose-dark a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.prose .anchor:after,
.prose-dark .anchor:after {
  content: '#';
}
.prose .anchor:after {
  color: var(--chakra-colors-gray-300);
}
.prose-dark .anchor:after {
  color: var(--chakra-colors-gray-700);
}

.prose *:hover > .anchor,
.prose-dark *:hover > .anchor {
  visibility: visible;
}

.prose > *,
.prose-dark > * {
 margin-top: 1rem;
}

.prose > ul,
.prose-dark > ul {
  margin-left: 2rem;
}

.prose > ol,
.prose-dark > ol {
  margin-top: 3rem;
}

.prose pre,
.prose-dark pre {
  border: 1px solid;
  border-radius: 0 !important;
}
.prose pre {
  border-color: var(--chakra-colors-gray-200) !important ;
  background-color: var(--chakra-colors-gray-50) !important;
}
.prose-dark pre {
  border-color: var(--chakra-colors-gray-700) !important;
  background-color: var(--chakra-colors-gray-900) !important;
}

.prose pre code,
.prose-dark pre code {
    padding: 0;
    border: 1px;
}

.prose > :first-child,
.prose-dark > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  /* margin-bottom: 1.25em !important; */
}

.prose .token.comment,
.prose .token.prolog,
.prose .token.doctype,
.prose .token.cdata {
  color: var(--chakra-colors-gray-700);
}
.prose-dark .token.comment,
.prose-dark .token.prolog,
.prose-dark .token.doctype,
.prose-dark .token.cdata {
  color: var(--chakra-colors-gray-300);
}

.prose .token.punctuation {
  color: var(--chakra-colors-gray-700);
}
.prose-dark .token.punctuation {
  color: var(--chakra-colors-gray-300);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--chakra-colors-green-500);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--chakra-colors-purple-500);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--chakra-colors-yellow-500);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--chakra-colors-blue-500);
}

.token.function,
.token.class-name {
  color: var(--chakra-colors-pink-500);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--chakra-colors-yellow-500);
}

.prose code[class*="language-"],
.prose pre[class*="language-"] {
  color: var(--chakra-colors-gray-800);
}
.prose-dark code[class*="language-"],
.prose-dark pre[class*="language-"] {
  color: var(--chakra-colors-gray-50);
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rehype-code-title {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-gray-200);
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  border-color: var(--chakra-colors-gray-700);
}
.prose .rehype-code-title {
  background-color: var(--chakra-colors-gray-200);
  color: var(--chakra-colors-gray-800);
  border-color: var(--chakra-colors-gray-200);
}
.prose-dark .rehype-code-title {
  background-color: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-gray-200);
  border-color: var(--chakra-colors-gray-700);
}

.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.highlight-line {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-left-width: 4px;
}
.prose .highlight-line {
  background-color: var(--chakra-colors-gray-100);
  border-color: var(--chakra-colors-blue-500);
}
.prose-dark .highlight-line {
  background-color: var(--chakra-colors-gray-800);
  border-color: var(--chakra-colors-gray-300);
}
