@import url('./markdown-body.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-fira-code;
  }
}

@layer components {
  /* UI Elements */
  .form-input {
    @apply w-full px-3 py-2 border border-gray-200 rounded-lg shadow-sm focus:outline-1;
  }
  .form-label {
    @apply block mb-1 font-medium;
  }
  .btn-sm {
    @apply px-2 py-1 text-sm font-medium text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-700 hover:shadow;
  }
  .btn-md {
    @apply px-4 py-2 font-medium text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-700 hover:shadow;
  }
  .btn-lg {
    @apply px-4 py-3 font-medium text-white bg-blue-600 rounded-md shadow-sm hover:bg-blue-700 hover:shadow;
  }
  .link {
    @apply text-blue-600 hover:underline hover:text-blue-700;
  }

  /* Article */
  /* Code hike customization */
  .markdown-body .ch-codeblock, .prose .ch-codegroup, .prose.ch-preview {
    @apply border shadow-none;
  }  
}

@layer utilities {
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

div.ch-codegroup {
  box-shadow: none !important;
}